body
{
  color: white;
  background: #c0d3ff;
  font-family: Arial, Helvetica, sans-serif, cursive;
}
span
{
  font-size: 30px;
}

.heading
{
  font-size: 18px;
  border-radius: 10px;
  letter-spacing:10px ;
}
img{
height: 20%;
}
.footer
{
    color: aliceblue;
    font-size: 18px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0px;
    background-color: #c0d3ff;
    line-height: 3;
    text-shadow: 5px 5px 5px rgb(151,149,149);
}